.hotelSection{
    background: url("/public/images/indiaMap.png"); /* Correct path */
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    z-index: 1;
    /* margin: 50px auto; */
    padding: 50px;
}
.hotelSearchBox{
    margin-top: 50px;
    background-color:white;
    border-radius: 15px;
    border: none;
    padding-top:5px ;
    /* height: 135px; */
} 
.hotelSectuionFeature{
    margin-top: 150px;
} 
@media (max-width: 767px){
    .hotelSection{
        padding: 20px;
    }
    .hotelSearchBox{
        margin-top: 60px;
        padding: 10px;
        margin-bottom: 100px;
    }
    .hotelSectuionFeature{
        margin-top: 300px;
    }
}