/* app.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto');

/* App.css */

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif,"Roboto"; /* Change to your preferred font-family */
}

.contentElement{
  margin-bottom:20px ;
  height:100%;
}