.hotelSearch{
  height: 120px;
  padding: 30px;
  background-color: #fff;
  align-items: center;
  /* margin:55px auto; */
}
.hotelListPage{
    background-color: #faf7f7;
    min-height: 100%;
    max-width: 100vw;
    min-width: 100%;
   
}
.hotelDetailBar{
    background-color: rgb(0, 147, 245);
    width: 820px;
    height: 60px;
    margin-top: 30px;
    padding: 20px;
    margin-left: 45px;
    border-radius: 5px;
    box-shadow: 0px 2px 2px #888888;
}
.hotelDetailBar p{
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
}
/* .sortButton{
    font-size: 18px;
    font-weight: 550;
    color: #ffffff;
    margin: 10px;
   
} */
.featuresBar{
    background-color: #ffffff;
    width: 820px;
    margin-top: 15px;
    box-shadow: 0px 1px 2px #888888;
    margin-left: 45px;
    border-radius: 10px;
}
.sortButton{
    border: none;
    width: 100%;
    padding: 15px;
    background-color: transparent;
    font-size: 16px;
    font-weight: 550;
    color: rgb(0, 147, 245);
    width: 100%;
    text-align: center;
    margin: 0px;
}
.sortButton.active{
    color: #ffffff;
   
    background-color:rgb(0, 147, 245) ;
}
.sortButton.leftCorner{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.sortButton.rightCorner{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.hr-line{ 
    border: none;
    border-left: 2px solid rgb(97, 95, 95);/* Adjust the color and thickness as needed */
    height: 55px; /* Adjust the height as needed */
    margin: 0px;
}
.hotelImtesList  ul{
  /* width: 100%; */
  padding:0px;
  margin: 0px;
  list-style: none;
  margin-left: 30px;
  
}
.itemsListCard{
  
    background-color: #ffffff;
    width:820px;
    height: 160px;
     margin: 15px; 
    border-radius: 5px;
    transition: transform 0.2s ease; /* Add smooth transition */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow effect */
}
.itemsListCard:hover{
    transform: scale(1.02); /* Zoom in on hover */
    /* box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);  */
    border:solid 2px;
    border-color: rgb(0, 147, 245) ;
}

 
.star{
    padding-left: 5px;
}
.hotelName{
    font-size: 18px;
    font-weight: 550;
    color: rgb(0, 147, 245);
}
.hotelAddress{
    font-size: 14px;
    font-weight: 500;
    color: rgb(116, 115, 115);
    margin-left:5px;
    white-space: pre-line;
    text-align: left;
    margin-bottom: 5px;
    
}
.hotelPrice{
    font-size: 18px;
    font-weight: 550;
    color: rgb(10, 10, 10);
   margin-top: 10px;
}
.detailsButton{
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    color: white;
    background-color: rgb(0, 147, 245);
    margin: 5px;
    padding: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 550;
    transition: transform 0.2s, color 0.3s; /* Add transitions for border and text color */
}

.detailsButton:hover {
   
    transform: scale(1.03);
}
/* CSS for the error container */
.errorContainer {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  height: 80vh; /* Adjust the height to your preference */
   
    margin: 0;
    padding: 0;
    width: 100vw;
  }
  
  /* CSS for the error image */
  .errorImg {
    width:450px ;
    height: auto; /* Maintain aspect ratio */
    
  }

  
  /* CSS for the error message */
  .errorMsg {
    margin-top: -50px;
    font-size: 18px; /* Adjust the font size as needed */
    color: #666; /* Adjust the text color as needed */
    z-index: 1; 
}
 .backSearch{
    width: 150px;
    height: 40px;
    border:none;
    border-radius:5px;
    background-color:rgb(0, 147, 245) ;
    color:#ffffff;
    font-size: 16px;
    font-weight: 500;
    margin: 20px;
    padding: 5px;
    z-index: 1;
    text-decoration: none;
 } 
 .side-slide-card{
    width: 350px;
    height: 100%;
    background-color: #ffffff;
    border-radius: 10px;
    margin-top: 30px;
    box-shadow: 0px 2px 2px #888888;
    
  }

 /* PriceRangeSlider.css */
.price-range-slider-container {
    position: relative;
    width:200px;
    margin-top: 30px;
    align-self: center;
  }
  
  .slider-labels {
    display: flex;
    justify-content: space-between;
    margin-top: 10px; /* Adjust spacing */
  }
  
  .min-value,
  .max-value {
    color: #007bff; /* Change the range value color */
    font-size: 14px; /* Adjust font size */
  }
 
 .search-by-name{
    align-self: center;
 }
 .search-by-name input[type="text"]{
    border-radius: 5px;
    border:2px solid;
    border-color: #d8d8d8;
    outline: none;
 }
 .search-by-name input[type="text"]::placeholder {
    font-size: 14px;
    padding: 10px;
    font-weight: 550;
    color: #7c7c7c;
  }
  .rating-checkboxes{
    margin-left: 20px;   
    align-self: flex-start;
  }
  .rating-checkboxes label{
    align-self: flex-start;
    margin-left: 8px;
    cursor: pointer;
  }
  .rating-checkboxes input[type='checkbox']{
    accent-color:#007bff ;
    cursor: pointer;
  }
  .fa-star{
    margin-left: 5px;
  }
  .hotelImg{
    width: 200px;
     height:160px;
  }
.hotelRating{
  color: gold;
  width:12px;
}
  @media (max-width: 767px){
    
    .hotelSearch{
      height: 100%;
      padding: 5px;
      background-color: #fff;
      align-items: center;
     
      /* margin:55px auto; */
    }
    .side-slide-card{
      padding: 10px;
      margin: 10px auto;
    }
    .min-value,
    .max-value {
      color: #007bff; /* Change the range value color */
      font-size: 16px; /* Adjust font size */
    }
    .search-by-name{
      align-self:flex-start;
      padding: 5px;
      width: 300px;
      
   }
   .search-by-name input[type='text']{
    height: 40px;
    width: 300px;
    font-size: 15px;
   }
   .price-range-slider-container {
    padding: 10px;
    width:300px;
    margin-top: 20px;
    align-self:flex-start;
  }
  .rating-checkboxes{
    margin-left: 10px;   
    align-self: flex-start;
  }
  .rating-checkboxes label{
    align-self: flex-start;
    margin-left:5px;
    cursor: pointer;
   
  }
  .rating-checkboxes input[type='checkbox']{
    accent-color:#007bff ;
    cursor: pointer;
    
  }
  .fa-star{
    margin-left: 25px;
  }
  .hotelDetailBar{
    background-color: rgb(0, 147, 245);
    width: 100%;
  
    margin-top: 30px;
    padding: 20px;
    margin-left: 0px;
    border-radius: 5px;
    box-shadow: 0px 2px 2px #888888;
}
.itemsDetailsSide{
   margin: 10px ;
   
}
.featuresBar{
  background-color:none;
  width:100%;
  margin-top: 15px;
  box-shadow: 0px 1px 2px #888888;
  margin-left: 0px;
  border-radius: 10px;
  padding: 0px;
 
}
.sortButton{
  border: none;
  width: 100%;
  padding: 15px;
  background-color: transparent;
  font-size: 16px;
  font-weight: 550;
  color: rgb(0, 147, 245);
  width: 100%;
  text-align: center;
  margin: 0px;
  border-radius:none ;
}
.hr-line{
    border-bottom: 2px solid rgb(97, 95, 95);/* Adjust the color and thickness as needed */
    height: 5px; /* Adjust the height as needed */
    margin: 0px;
}
.sortButton.leftCorner{
  
  border-top-left-radius:0px;
  border-bottom-left-radius: 0px;
}
.sortButton.rightCorner{
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.itemsListCard{
  padding: 2px;
  background-color: #ffffff;
  width:100%;
  height: 100%;
   margin-top:30px; 
  border-radius: 5px;
  transition: transform 0.2s ease; /* Add smooth transition */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow effect */
}
.hotelImtesList  ul{
  width: 100%;
  padding:2px;
  list-style: none;
  margin-left:-15px;
  /* margin-right: 15px; */
}
.hotelImg{
  width:100%;
   height:180px;
}
.star li{
  padding-left:8px;
  padding-top: 0px;
  
}
.hotelName{
  margin: 0px;
}
.hotelRating{
  color: gold;
  width:12px;
  margin: 0px;
  /* padding: 0px; */
  padding-left: 5px;
}
}