

.footerMain {
  background-color:transparent;
  color: #050505;
  padding: 5px;
  border: solid 2px;
  border-radius: 10px;
  border-color: #e6e6e7;
   bottom:0;
   margin: 55px;
       
}
.footerMain h4{
  font-size:16px;
  font-weight:600;
    text-align:center;
}
  
  .footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    text-align: left;
  }
  
  .footer-section {
     margin: 50px;
    
  }
 
  
  .footer-section p {
    font-size: 14px;
    line-height: 1.4;
  
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  ul li {
    margin-bottom: 8px;
    text-decoration: none;
  }
  
  ul li a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
  }
  
  .social-icons {
    margin-top: 20px;
  }
  
  .social-icons a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    margin-right: 10px;
  }
  
  .footer-bottom {
   
    text-align: center;
   
  }
  
  .footer-bottom p {
    padding-top: 0px;
    margin-bottom: 0px;
    font-size: 14px;
  }

  
@media (max-width: 767px){
  .footerMain{
      margin: 20px;
  }
  .footerMain h4{
    font-size:15px;
    font-weight:550;
    text-align:center;
    margin-top: 5px;
  }
  .footer-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
   
    text-align: center;
  }
  
  .footer-section {
     margin: 35px;
    
  }
  
  .footer-section p {
    font-size: 14px;
    line-height: 2;
    font-weight: 550;
  
  } 
  
  ul li a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: 550;
  }
  
  .social-icons {
    margin-top: 10px;
  }
  
  .social-icons a {
    
    font-weight: 550;
    margin-right: 10px;
  }
  
  .footer-bottom {
   
    text-align: center;
    margin-bottom: 10px;
  }
  
  .footer-bottom p {
    font-size: 14px;
    font-weight: 550;
    padding: 2px;
  }

  
}
  