.bookingDetailsCard {
    background-color: #007bff;
    border-radius: 5px;
    margin: 20px auto; /* Center the card horizontally */
    width: 380px; /* Set a fixed width if desired */
}

/* Remove margin and padding from the ul */
.bookingDetailsCard ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.bookingDetailsCard hr {
    border-color: rgb(218, 216, 214); /* Color of the line */
    border-width: 2px; /* Thickness of the line */
    margin: 20px auto; /* Margin above and below the line */
    align-items: center;
}

.bookingDetailsCard h1 {
    font-size: 18px;
    font-weight: 550;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px;
    height: 60px;
    text-align: left;
}

.DetailsCardImg {
    width: 350px;
    height: 230px;
    border-radius: 9px;
    padding: 10px;
   
}

.hotelDetails {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0; /* Adjust top and bottom margin */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: left;
}

.hotelDetails .hotelName {
    color: #fff;
    font-size: 16px;
    font-weight: 550;
    text-align: left;
    margin: 0px;
}

.hotelDetails .hotelAddress {
    color: #fff;
    font-size: 14px;
    margin: 0px;
    width: 300px;
}
.bookingDetailsCard p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.bookingDetailsCard h3{
    font-size: 18px;
    color:#fff;
    font-weight: 550;
    text-align: left;
}
.taxtesDetails{
    color:#ffffff !important;
     font-size:14px !important;
     /* font-weight: 400;    */
     margin-left: 170px;
    opacity: 1;
}
@media (max-width: 767px){
    .bookingDetailsCard {
       
    border-radius: 10px;
      margin: 10px;
        padding: 0px;
        width:95%; 
    }
   .bodypart{
    padding: 10px;
   }
   .taxtesDetails{
      margin-left:160px
  }
}