.hotelFeature{
  background-color: aliceblue;
  border-radius: 15px;
  margin: 40px;
  padding: 30px;
  height: 100%;
  /* display: block; */
}
.hotelFeature h1{
    font-size:22px;
    text-align:left;
    font-weight:600;
    margin-left:10px;
}
.hotelCard{
    background-color: rgb(255, 255, 255);
    margin-top: 30px;
    padding: 10px;
    height: 420px;
    border-radius: 10px;
    box-shadow: 2px 6px 4px rgba(168, 166, 166, 0.3);
    display: block;
}
.hotelCardImg{
    width: 100%;
    height: 220px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.cardRating{
    font-size: 5px;
    float: left;
    margin-bottom: 10px;
}
.hotelCardName{

    font-size: 16px;
    color: #007bff;
    text-align: left;
    margin-bottom:5px;
}
.hotelCardLocation{

    font-size: 12px;
    float: left;
    text-align: left;
}
.detailButton{
    border:solid 1px;
    border-radius: 5px;
    height: 30px;
    width: 80px;
    font-weight: 550;
    font-size: 14px;
    padding: 2px;
    border-color: #007bff;
    background-color: #fff;
    color: #007bff;
    
}
.hotelCard hr{
    margin-top: 15px;
}
/* Mobile-specific styles for */
@media (max-width: 767px) {
    .hotelFeature{
        margin: 30px;
    }
    .hotelFeature h1{
        text-align: center;
    }
    .hotelCardImg{
        height: 150px;        
    }
    .hotelCard{       
        height: 370px;
    }
    .hotelCard hr{
        margin-top: 5px;
    }
    .detailButton{
        margin-top: 10px;
    }
  }
  
  /* Tablet-specific styles for  */
  @media (min-width: 768px) and (max-width: 1023px) {
    
  }
  
  
  
  